<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="ios">
      Appointment
    </ion-title>
    <ion-button slot="start" class="back-ic-btn">
        <ion-icon name="arrow-back-outline" mode="ios"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container>
    <ion-row class="appt-mon-year-wrap">
      <h3 class="appt-mon-year">{{ monthDate }}</h3>
    </ion-row>  
    <ion-item class="appt-date-item" lines="none">
      <ion-row class="appt-date-row">
        <ion-col *ngFor="let item of apptDate" class="appt-date-wrap" [ngClass]="{ 'selectedDate' : item.isSelected}" (click)="whichDate(item)">
            <p class="appt-date">{{ item.date}}</p>
            <p class="appt-day">{{ item.dayWord}}</p>    
        </ion-col>
      </ion-row>
    </ion-item>
    <div class="app-bottom-wrapper">
      <h1 class="avl-time">Available Times</h1>
      <ion-card>      
        <ion-row class="day-type-wrapper">
          <ion-col class="slot-wrapper" size="4">
              <ion-icon name="partly-sunny-outline"></ion-icon>
              <ion-label class="slot-label">Morning</ion-label>
          </ion-col>
          <ion-col class="slot-wrapper" size="4">
              <ion-icon name="sunny-outline"></ion-icon>     
              <ion-label class="slot-label">Afternoon</ion-label>  
          </ion-col>
          <ion-col class="slot-wrapper" size="4">
              <ion-icon name="moon-outline"></ion-icon>
              <ion-label class="slot-label">Evening</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="slot-wrapper" size="4" *ngFor="let slotItems of slotTimes">
            <ng-container *ngFor="let slot of slotItems.slot">
              <ion-button [ngClass]="slot.isSelected ? 'selected-slot': 'none'" class="slot-btn" (click)="option(slot)">{{slot.time}}</ion-button>
            </ng-container>  
          </ion-col>
        </ion-row> 
      </ion-card>
      <div class="appt-for-wrapper">
          <h1 class="appt-for">Appointment for</h1>
          <ion-input class="app-for-input" placeholder="booked for"></ion-input>    
      </div>
    </div>
  </ng-container>
</ion-content>
